@font-face {
  font-family: "iconfont"; /* Project id 3668742 */
  src: url('~@/static/iconfont/iconfont.woff2?t=1665387037074') format('woff2'),
       url('~@/static/iconfont/iconfont.woff?t=1665387037074') format('woff'),
       url('~@/static/iconfont/iconfont.ttf?t=1665387037074') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e68e";
}

.icon-yonghu:before {
  content: "\e642";
}

.icon-yonghu1:before {
  content: "\e75c";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-guanbi:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-icon:before {
  content: "\e651";
}

.icon-yousanjiao:before {
  content: "\e629";
}

.icon-icon-test:before {
  content: "\e6e1";
}

.icon-bofang:before {
  content: "\e8a3";
}

.icon-bofang1:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e62a";
}

.icon-empty:before {
  content: "\e65b";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-zuojiantou:before {
  content: "\e60c";
}

